set NERDTree
set scrolloff=10
set linenumber
set relativenumber
set showmode
set showcmd
set visualbell

set clipboard+=unnamedplus
set ignorecase
set smartcase
set incsearch
set hlsearch

let mapleader = " "

nnoremap <C-v> <C-v>
inoremap <C-v> <C-r>+

nmap <Leader>ff <action>(com.mituuz.fuzzier.search.Fuzzier)
nmap <Leader>fg <action>(com.mituuz.fuzzier.grep.FuzzyGrep)
nmap <Leader>rn <action>(RenameElement)
nnoremap <leader>nh :nohl<CR>
nnoremap - :NERDTreeFocus<CR>

set highlightedyank
set commentary
nmap <Leader>gr <Action>(FindUsages)

" Search for string in visible area and jump
nmap s <Action>(flash.search)
xmap s <Action>(flash.search)
" enhance vim f (find for char in characters to the right of the current cursor)
nmap f <Action>(flash.find)
xmap f <Action>(flash.find)
" enhance vim F (find for char in characters to the left of the current cursor)
nmap F <Action>(flash.find_backward)
xmap F <Action>(flash.find_backward)
" enhance vim t (till for char in characters to the right of the current cursor)
nmap t <Action>(flash.till)
xmap t <Action>(flash.till)
" enhance vim T (till for char in characters to the left of the current cursor)
nmap T <Action>(flash.till_backward)
xmap T <Action>(flash.till_backward)
" enhance vim ; (Repeat the last f/F/t/T search)
nmap ; <Action>(flash.repeat)
xmap ; <Action>(flash.repeat)
" enhance vim , (Repeat the last f/F/t/T search backward)
nmap , <Action>(flash.repeat_backward)
xmap , <Action>(flash.repeat_backward)
" syntax node expansion (flash.nvim treesitter equivalent)
nmap S <Action>(flash.treesitter)
xmap S <Action>(flash.treesitter)
" remote operator (after pressing an operator like d, use r to pick target line remotely)
omap r <Action>(flash.remote)
" Remap 'n' in NERDTree to use the IntelliJ New Element dialog
autocmd FileType nerdtree nmap <buffer> n <Action>(NewElement)
